@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

.title {
    color: rgb(73, 55, 59);
    padding-left: 20rem;
    font-size: 29px;
    font-family: poppins;
}

.navbar {
    background-color: #f1b773;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbartitle {
    color: rgb(3, 0, 1);
    font-size: 29px;
    font-family: poppins;
    margin-left: 40rem;
    align-items: center;
}

.navbar-rights {
    background-color: rgb(80, 0, 0);
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    margin: auto;
    height: 0px;
    color: red;
    float: right;
    align-items: center;
    
}
.menubars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.spacing {
    padding: 25px;
    align-items: center;
    color: rgb(3, 0, 1);
    

    
}

.loginbars {
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #f1b773;
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size:  18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}


.nav-menu-items {
    width: 100%;
}

/*The X button area*/
.navbar-toggle {
    background-color: #f1b773;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}