/* Import for Poppins Font */ 
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700'); 

.h1 {
    text-align: center;
    padding: 220px 0;
    font-family: poppins; 
    animation: logoanimation 7s;
}


@keyframes logoanimation {
    0% {opacity: 0%;}
    10% {opacity: 10%;}
    20% {   opacity: 20%;}
    30% {   opacity: 30%;  }
    40% {   opacity: 40%; }
    50% {   opacity: 50%; }
    60% {   opacity: 60%; }
    70% {   opacity: 70%; }
    80% {   opacity: 80%; }
    90% {   opacity: 90%; }
    100% {   opacity: 100%; }
    
}

.center {
    overflow-y: scroll;
    overflow: hidden;
   /* background-color: azure;*/

}

.left {
    overflow: hidden;
    background-color: azure;
    float:  left;
    width: 50%;
    height: 550px;
}

.right {
    overflow: hidden;
    background-color: aliceblue;
    float:  left;
    width: 50%;
    height: 550px;
}

.inline {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
