/* Import for Poppins Font */ 
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700'); 

.h1 {
    text-align: center;
    padding: 270px 0;
    font-family: poppins; 
}

.center {
    overflow-y: scroll;
    overflow: hidden;
   /* background-color: azure;*/

}

.left {
    overflow: hidden;
    background-color: azure;
    float:  left;
    width: 50%;
    height: 550px;
}

.right {
    overflow: hidden;
    background-color: aliceblue;
    float:  left;
    width: 50%;
    height: 550px;
}

.inline {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
